<ion-content class="viewport">
  <ion-grid class="content">
    <ion-row class="title">Corrida</ion-row>
    <ion-row class="distance">0.0<span class="km">km</span></ion-row>
    <ion-row class="infos">
      <ion-col size="3">
        <ion-img class="img-infos" src="../assets/clock.svg"></ion-img>
        <ion-text>
          <p class="text-infos">00:00:00</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img class="img-infos"  src="../assets/fire.svg"></ion-img>
        <ion-text>
         <p class="text-infos">0 Kcal</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img class="img-infos" src="../assets/valentines-heart.svg"></ion-img>
        <ion-text>
          <p class="text-infos">-</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="action-buttons">
      <ion-col class="btn-play-content-1" size="6">
        <ion-img class="play-button" src="../assets/play.svg"></ion-img>
      </ion-col>
      <ion-col  class="btn-play-content-2" size="6">
        <ion-img class="pause-button" src="../assets/pause.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
