<ion-content>
  <ion-grid class="content">
    <ion-row class="title">Corrida</ion-row>
    <ion-row class="distance">0.0<span class="km">km</span></ion-row>
    <ion-row class="infos">
      <ion-col size="3">
        <ion-img class="img-infos" src="../assets/profile_photo.svg"></ion-img>
        <ion-text>
          <p>00:00:00</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img class="img-infos" src="../assets/profile_photo.svg"></ion-img>
        <ion-text>
         <p>0 Kcal</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img class="img-infos" src="../assets/profile_photo.svg"></ion-img>
        <ion-text>
          <p>-</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
