<ion-content class="viewport">
  <ion-grid class="content">
    <ion-row class="title">Corrida</ion-row>
    <ion-row class="distance">{{kmString}}<span class="km">km</span></ion-row>
    <ion-row class="infos">
      <ion-col size="3">
        <ion-img aria-hidden="true" class="img-infos" src="../assets/clock.svg"></ion-img>
        <ion-text>
          <p class="text-infos">{{hour}}:{{min}}:{{sec}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img aria-hidden="true" class="img-infos"  src="../assets/fire.svg"></ion-img>
        <ion-text>
         <p class="text-infos">{{KcalString}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-img aria-hidden="true" class="img-infos" src="../assets/valentines-heart.svg"></ion-img>
        <ion-text>
          <p aria-label="Sem dados de batimentos" class="text-infos">-</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="action-buttons">
      <ion-col 
        [class.btn-play-content-1]="isStarted" 
        [class.btn-play-content-1-ON]="!isStarted" size="6">
        <ion-img class="play-button"  aria-label="Começar Corrida Botão" (click)="startRun()" [src]="btn1"></ion-img>
      </ion-col>
      <ion-col 
        [class.btn-play-content-2]="!isStarted" 
        [class.btn-play-content-2-ON]="isStarted" size="6">
        <ion-img class="pause-button" aria-label="Pausar Corrida Botão" (click)="pauseRun()" [src]="btn2"></ion-img>
      </ion-col>
      <ion-col [class.btn-play-content-3]="!isStarted" [class.btn-play-content-3-ON]="isStarted" size="6">
        <ion-img class="stop-button" aria-label="Parar Corrida Botão" (click)="stopRun()" [src]="btn3"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
