<ion-tabs>


  <ion-tab-bar class="bar-size" slot="bottom" >
    <ion-tab-button tab="tab1" class="tab1">
      <!-- <ion-img src="../assets/Historico.svg"></ion-img> -->
      <div class="img1"></div>
      <!-- <ion-icon name="stats"></ion-icon> -->
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab2">
      <!-- <ion-img src="../assets/Atividade.svg"></ion-img> -->
      <div class="img2"></div>
      <!-- <ion-icon name="flag"></ion-icon> -->
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab3">
      <!-- <ion-img src="../assets/Perfil.svg"></ion-img> -->
      <div class="img3"></div>
      <!-- <ion-icon name="person"></ion-icon> -->
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
