
<ion-content>
  <ion-list>
    <!-- <ion-list-header>
      Atividades Recentes
    </ion-list-header> -->

    <ion-item (click)="goGrafico('20-09', '3758', '53:02', '3.12', '400')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">20 de Setembro</p>
        <p class="legenda">Duração: 53min</p>
      </ion-label>
    </ion-item>

     <ion-item (click)="goGrafico('18-09', '4567', '23:07', '2.12', '230')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">18 de Setembro</p>
        <p class="legenda">Duração: 23min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('17-09', '6758', '59:03', '5.12', '560')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">17 de Setembro</p>
        <p class="legenda">Duração: 59min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('02-09', '5778', '32:22', '3.57', '500')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">2 de Setembro</p>
        <p class="legenda">Duração: 32min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('30-08', '4576', '13:11', '3.42', '234')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">30 de Agosto</p>
        <p class="legenda">Duração: 13min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('29-08', '4521', '27:05', '5.01', '329')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">29 de Agosto</p>
        <p class="legenda">Duração: 27min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('28-08', '1239', '30:46', '7.12', '567')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">28 de Agosto</p>
        <p class="legenda">Duração: 30min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('25-08', '4563', '33:28', '3.88', '334')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">25 de Agosto</p>
        <p class="legenda">Duração: 33min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('22-08', '6734', '18:42', '3.66', '456')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">22 de Agosto</p>
        <p class="legenda">Duração: 18min</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goGrafico('20-08', '4673', '41:00', '6.12', '745')">
      <ion-avatar slot="start">
        <ion-img aria-hidden="true" src="../assets/img-list.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p class="titulo">20 de Agosto</p>
        <p class="legenda">Duração: 41min</p>
      </ion-label>
    </ion-item>

    

   
  </ion-list>
</ion-content>
