<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <!-- <ion-list-header>
      Atividades Recentes
    </ion-list-header> -->

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/exemple.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Título da Atividade</h2>
        <h3>Duração: 53min</h3>
        <p>Distância: 12km</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
