<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-avatar class="ion-margin-start ion-margin-top user-avatar">
          <img src="./assets/exemple.jpg">
        </ion-avatar>
      </ion-col>

      <ion-col size="9" class="ion-margin-top profile-info">
        <ion-text class="user-name"> Lucas Monteiro</ion-text>
        <br>
        <ion-text class="user-age"> 22 anos</ion-text>
      </ion-col>
    </ion-row>
    <form class="form">
      <ion-row class="inputs">
        <ion-item>
          <ion-label class="labels" position="stacked" >Peso:</ion-label>
          <ion-input type="number" required="true" ></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="inputs">
        <ion-item >
          <ion-label class="labels" position="stacked" >Altura:</ion-label>
          <ion-input type="number" required="true" ></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-button shape="round" class="button">Calcular IMC</ion-button>
      </ion-row>
    </form>

    <div class="imc-content">
      <ion-row class="imc-label">
        <ion-text class="imc-val">
          21.5
        </ion-text>
      </ion-row>
      <ion-row class="imc-label">
        <ion-text class="imc-type">
          Saudável
        </ion-text>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
